In [1]:
import pandas as pd

In [2]:
df = catalog.load('dv_oai/dim_oai_set')
df.drop(columns=["set_hk"], inplace=True)

                    INFO     Loading data from dv_oai/dim_oai_set (SQLTableDataset)...          ]8;id=410755;file:///home/pablo/.local/lib/python3.10/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=303202;file:///home/pablo/.local/lib/python3.10/site-packages/kedro/io/data_catalog.py#389\389]8;;\

In [3]:
df

                set_id                            name
0        col_11336_279       Articulos(CCT - SAN LUIS)
1     col_11336_134184    Datos de Investigación(CEUR)
2         col_11336_43               Articulos(IGEHCS)
3      col_11336_90048             Libros(OCA HOUSSAY)
4      col_11336_90026              Libros(IQUIBA-NEA)
...                ...                             ...
2439  col_11336_134379  Datos de Investigación (INDES)
2440     col_11336_432                Articulos(IIBBA)
2441   col_11336_90059                 Libros(UMYMFOR)
2442   col_11336_90303     Capítulos de libros(INIGEM)
2443   col_11336_90287      Capítulos de libros(INFAP)

[2444 rows x 2 columns]

In [4]:
df['set_type'] = df['set_id'].str.split('_').str[0]
# 4. Parsear el Nombre para sacar Recurso e Institución
# Usamos Expresiones Regulares (Regex)
# Patrón: "Cualquier cosa al principio (Grupo 1)" + "Paréntesis abierto" + "Cualquier cosa adentro (Grupo 2)" + "Paréntesis cerrado"
pattern = r"^(.*?)\s*\((.*?)\)$"

extracted_data = df['name'].str.extract(pattern)

# Asignamos las columnas nuevas
df['resource_type'] = extracted_data[0].str.strip() # .strip() quita espacios sobrantes
df['institution_name'] = extracted_data[1].str.strip()

In [5]:
df["set_type"].unique()

array(['col', 'com', 'snrd'], dtype=object)

In [6]:
col_filter = df["set_type"] == 'col'
df_col = df[col_filter]

In [7]:
df_col

,set_id,name,set_type,resource_type,institution_name
0,col_11336_279,Articulos(CCT - SAN LUIS),col,Articulos,CCT - SAN LUIS
1,col_11336_134184,Datos de Investigación(CEUR),col,Datos de Investigación,CEUR
2,col_11336_43,Articulos(IGEHCS),col,Articulos,IGEHCS
3,col_11336_90048,Libros(OCA HOUSSAY),col,Libros,OCA HOUSSAY
4,col_11336_90026,Libros(IQUIBA-NEA),col,Libros,IQUIBA-NEA
...,...,...,...,...,...
2439,col_11336_134379,Datos de Investigación (INDES),col,Datos de Investigación,INDES
2440,col_11336_432,Articulos(IIBBA),col,Articulos,IIBBA
2441,col_11336_90059,Libros(UMYMFOR),col,Libros,UMYMFOR
2442,col_11336_90303,Capítulos de libros(INIGEM),col,Capítulos de libros,INIGEM
2443,col_11336_90287,Capítulos de libros(INFAP),col,Capítulos de libros,INFAP

In [8]:
df_col["resource_type"].unique()

array(['Articulos', 'Datos de Investigación', 'Libros',
       'Capítulos de libros', 'Tesis', 'Recursos continuos', 'Eventos',
       'Películas, videograbaciones y material gráfico', nan,
       'Grabaciones Sonoras', 'Objetos tridimensionales',
       'Libros, folletos y pliegos impresos'], dtype=object)

In [9]:
institution_len = len(df_col["institution_name"].unique())
institution_len

346

In [12]:
unlp_filter = df_col["institution_name"].str.contains("CNEA", case=False, na=False)
df_col[unlp_filter]

Empty DataFrame
Columns: [set_id, name, set_type, resource_type, institution_name]
Index: []

In [11]:
df[['resource_type'] ]

               resource_type
0                  Articulos
1     Datos de Investigación
2                  Articulos
3                     Libros
4                     Libros
...                      ...
2439  Datos de Investigación
2440               Articulos
2441                  Libros
2442     Capítulos de libros
2443     Capítulos de libros

[2444 rows x 1 columns]